@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-inter);

  /* Colors */
  --color-background: #ffffff;
  --color-background-soft: #f6f8fa;
  --color-card: #ffffff;

  --color-foreground: #0a0d14;
  --color-foreground-soft: #525866;

  --color-disabled: #868c98;
  --color-border: #e2e4e9;

  --color-primary: #008b62;
  --color-primary-soft: #2fd898;
  --color-primary-foreground: #ffffff;

  --color-accent: #efefef;
  --color-accent-foreground: #0a0d14;

  --color-success: #059669;
  --color-warning: #f17b2c;
  --color-error: #df1c41;

  --color-ring: #008b62;

  --inset-shadow-md: inset 0 1px 6px rgba(0, 0, 0, 0.1);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
}

strong {
  font-weight: 600;
}
