@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-inter);

  /* Colors */
  --color-background: #f6f8fa;
  --color-card: #ffffff;

  --color-foreground: #0a0d14;
  --color-foreground-soft: #525866;

  --color-disabled: #868c98;
  --color-border: #e2e4e9;

  --color-primary: #008b62;

  --color-success: #38c793;
  --color-warning: #f17b2c;
  --color-error: #df1c41;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
}
